body{
background-color: #f1f5f8;
}
h1{
  position: relative;
  text-align: center;
}
.align{
  position: relative;
  top: -13px;
  left: 114px;
}
#td1{
  border: 2px solid rgba(0, 0, 0, 0.315);
  padding: 56px;
  font-size: x-large;
  font-style: bold;
  width:31%;
  height:173px;
  background-color:rgb(245, 248, 244);
  position:relative;
  left: 137px;
  font-family: arial, sans-serif;
}
#td2 {
  border: 2px solid rgba(0, 0, 0, 0.315);
  padding: 56px;
  font-size: x-large;
  font-style: bold;
  width:31%;
  height:173px;
  position:relative;
  left: 835px;
  bottom:286px;
  font-family: arial, sans-serif;
  background-color:rgb(245, 248, 244);
}
#td3 {
  border: 2px solid rgba(0, 0, 0, 0.315);
  padding: 56px;
  font-size: x-large;
  font-style: bold;
  width:31%;
  height:173px;
  position:relative;
  left: 500px;
  bottom:260px;
  font-family: arial, sans-serif;
  background-color:rgb(245, 248, 244);
}
#td1:hover{
  background-color:#dee2e6;
}
#td2:hover{
  background-color:#dee2e6;
}
#td3:hover{
  background-color:#dee2e6;
}
.bt{
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color:green;
      color: white;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      content: "\002B";
      position: relative;
      bottom: -80px;
      left:-369px;
      margin-left: 144px;
      
      
}
.btn{
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  content: "\002B";
  position: relative;
  bottom: -80px;
  left: -369px;
  margin-left: 130px;
  
}
.btnn{
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  content: "\002B";
  position: relative;
  bottom: -80px;
  left: -367px;
  margin-left: 240px;
  
}
.pt{
  position: relative;
  left:13%;
  top:100px;
}
.ptt{
  position: relative;
  left:75%;
  top:50px;
}
.ct{
  position: relative;
  left:13%;
  top:100px;
}
.ctt{
  position: relative;
  left:75%;
  top:50px;
}
.ph{
  position: relative;
  left:13%;
  bottom:-100px
}
.phh{
  position: relative;
  left:75%;
  top:50px;
}

.dialog {
  background-color: white;
  border: 1px solid black;
  padding: 50px;
  position: absolute;
  width:30%;
  height: 30%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bt:focus, .btn:focus, .btnn:focus {
  background-color: green;
  outline: none;
}

.cls{
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:-80%;
  left: -37%;
}
.sb{
  padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color:green;
      color: white;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      content: "\002B";
      position: relative;
      bottom: -103px;
      left: -69%;
      margin-left: 80px;
}
.price-input{
  width:100%;
  display:flex;
  font-size: 30px;
  margin:30px 0 35px;
}
.field{
  width:100%;
  height:100%;
  font-size:30px;
}
.field1{
  width:100%;
  height:100%;
  font-size:30px;
  position: relative;
    top: -126px;
    left: 220px;
}
.t{
  
  position: relative;
  width: 21%;
  height: 50%;
  border-radius: 5px;
  padding: 11px;
  margin: 11px;
  font-size: 20px;
}
.tt{
  
  position: relative;
  width: 21%;
  height: 10%;
  border-radius: 5px;
  padding: 11px;
  margin: 11px;
  font-size: 21px;
}
.edit{ 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:85px;
  left: 45%;

}
.delete{
   
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color:#f07c7cda;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:85px;
  left: 73%;
}
.ed{ 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:85px;
  left: 45%;

}
.del{
   
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color:#f07c7cda;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:85px;
  left: 73%;
}
.edd{ 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom:85px;
  left: 45%;
}
  .dell{
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    background-color:#f07c7cda;
    color: white;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    bottom:85px;
    left: 73%;}


























    